﻿#dataDump {
    width: 100%;
    float: left;
    position: relative;
}
#controlsDump {
    width: 100%;
}

.searchElement {
    display:inline-block;
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

div.tab button:hover {
    background-color: #ddd;
}

div.tab button.active {
    background-color: #ccc;
}

.contents {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    0% {opacity: 0;}
    100% {opacity: 1;}

}
/*
#graphDump {
    width: 50%;
    float: right;
}
*/

#Magick {
    margin: auto;
}

#loadingScreen {
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.loading {
    width: inherit;
    height: inherit;
}

.buttons {
    border-radius: 10px;
    width: 300px;
    height: 30px
}

#loader {
    position: absolute;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-bottom: 16px solid #ff0000;
    border-left: 16px solid yellow;
    border-radius: 50%;
    margin-top: 500px;
    margin-left: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {transform: rotate(360deg);}
}