﻿<#@ template language="C#" #>
<#@ parameter name="applicationUrl" type="System.String" #>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <grammars/>
    <resources base="<#= this.applicationUrl #>">
        <resource path="/{structure:datastructure|metadatastructure|categoryscheme|conceptscheme|codelist|hierarchicalcodelist|organisationscheme|agencyscheme|dataproviderscheme|dataconsumerscheme|organisationunitscheme|dataflow|metadataflow|reportingtaxonomy|provisionagreement|structureset|process|categorisation|contentconstraint|attachmentconstraint|structure}">
            <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="structure"/>
            <method name="GET" id="getStructureAll">
                <request>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="full" type="xs:string" style="query" name="detail"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="none" type="xs:string" style="query" name="references"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="header" name="Accept"/>
                </request>
                <response>
                    <representation mediaType="application/xml"/>
                    <representation mediaType="application/vnd.sdmx.structure+xml"/>
                </response>
            </method>
            <resource path="{agencyID}/{resourceID}/{version}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="structure"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="resourceID"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="agencyID"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="version"/>
                <method name="GET" id="getStructure">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="full" type="xs:string" style="query" name="detail"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="none" type="xs:string" style="query" name="references"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="header" name="Accept"/>
                    </request>
                    <response>
                        <representation mediaType="application/xml"/>
                        <representation mediaType="application/vnd.sdmx.structure+xml"/>
                    </response>
                </method>
            </resource>
            <resource path="{agencyID}/{resourceID}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="structure"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="resourceID"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="agencyID"/>
                <method name="GET" id="getStructureLatest">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="full" type="xs:string" style="query" name="detail"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="none" type="xs:string" style="query" name="references"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="header" name="Accept"/>
                    </request>
                    <response>
                        <representation mediaType="application/xml"/>
                        <representation mediaType="application/vnd.sdmx.structure+xml"/>
                    </response>
                </method>
            </resource>
            <resource path="{agencyID}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="structure"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="agencyID"/>
                <method name="GET" id="getStructureAllIdsLatest">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="full" type="xs:string" style="query" name="detail"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="none" type="xs:string" style="query" name="references"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="header" name="Accept"/>
                    </request>
                    <response>
                        <representation mediaType="application/xml"/>
                        <representation mediaType="application/vnd.sdmx.structure+xml"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/data">
            <resource path="{flowRef}/{key}/{providerRef}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="providerRef"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="flowRef"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="key"/>
                <method name="GET" id="getGenericData">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="header" name="Accept"/>
                    </request>
                    <response>
                        <representation mediaType="application/xml"/>
                        <representation mediaType="application/vnd.sdmx.compactdata+xml"/>
                        <representation mediaType="application/vnd.sdmx.crosssectionaldata+xml"/>
                        <representation mediaType="application/vnd.sdmx.genericdata+xml"/>
                        <representation mediaType="application/vnd.sdmx.structurespecificdata+xml"/>
                    </response>
                </method>
            </resource>
            <resource path="{flowRef}/{key}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="flowRef"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="key"/>
                <method name="GET" id="getGenericDataAllProviders">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="header" name="Accept"/>
                    </request>
                    <response>
                        <representation mediaType="application/xml"/>
                        <representation mediaType="application/vnd.sdmx.compactdata+xml"/>
                        <representation mediaType="application/vnd.sdmx.crosssectionaldata+xml"/>
                        <representation mediaType="application/vnd.sdmx.genericdata+xml"/>
                        <representation mediaType="application/vnd.sdmx.structurespecificdata+xml"/>
                    </response>
                </method>
            </resource>
            <resource path="{flowRef}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="flowRef"/>
                <method name="GET" id="getGenericDataAllKeys">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="header" name="Accept"/>
                    </request>
                    <response>
                        <representation mediaType="application/xml"/>
                        <representation mediaType="application/vnd.sdmx.compactdata+xml"/>
                        <representation mediaType="application/vnd.sdmx.crosssectionaldata+xml"/>
                        <representation mediaType="application/vnd.sdmx.genericdata+xml"/>
                        <representation mediaType="application/vnd.sdmx.structurespecificdata+xml"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>
