﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebIndex.aspx.cs" Inherits="Eurostat_DataRetriever.WebIndex" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="stats_panel" runat="server">
    <div id="data_container">
    </div>
    </form>
</body>
</html>
