<?xml version='1.0' encoding='UTF-8' standalone='yes' ?>
<tagfile>
  <compound kind="file">
    <name>AvailableDataRetriever.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/</path>
    <filename>a00027</filename>
    <namespace>Estat::Nsi::StructureRetriever</namespace>
  </compound>
  <compound kind="file">
    <name>ComponentSqlBuilder.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Builders/</path>
    <filename>a00028</filename>
    <namespace>Estat::Nsi::StructureRetriever::Builders</namespace>
  </compound>
  <compound kind="file">
    <name>CountSqlBuilder.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Builders/</path>
    <filename>a00029</filename>
    <namespace>Estat::Nsi::StructureRetriever::Builders</namespace>
  </compound>
  <compound kind="file">
    <name>DDbConnectionBuilder.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Builders/</path>
    <filename>a00030</filename>
    <namespace>Estat::Nsi::StructureRetriever::Builders</namespace>
  </compound>
  <compound kind="file">
    <name>IBuilder.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Builders/</path>
    <filename>a00031</filename>
    <namespace>Estat::Nsi::StructureRetriever::Builders</namespace>
  </compound>
  <compound kind="file">
    <name>ISqlBuilder.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Builders/</path>
    <filename>a00032</filename>
    <namespace>Estat::Nsi::StructureRetriever::Builders</namespace>
  </compound>
  <compound kind="file">
    <name>IStructureRetrievalInfoBuilder.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Builders/</path>
    <filename>a00033</filename>
    <namespace>Estat::Nsi::StructureRetriever::Builders</namespace>
  </compound>
  <compound kind="file">
    <name>SqlBuilderBase.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Builders/</path>
    <filename>a00034</filename>
    <namespace>Estat::Nsi::StructureRetriever::Builders</namespace>
  </compound>
  <compound kind="file">
    <name>StructureRetrievalInfoBuilder.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Builders/</path>
    <filename>a00035</filename>
    <namespace>Estat::Nsi::StructureRetriever::Builders</namespace>
  </compound>
  <compound kind="file">
    <name>CustomCodelistConstants.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/</path>
    <filename>a00036</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::CustomCodelistConstants</class>
    <namespace>Estat::Nsi::StructureRetriever</namespace>
  </compound>
  <compound kind="file">
    <name>CodeListHelper.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Engines/</path>
    <filename>a00037</filename>
    <namespace>Estat::Nsi::StructureRetriever::Engines</namespace>
  </compound>
  <compound kind="file">
    <name>ConstantCodeListRetrievalEngine.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Engines/</path>
    <filename>a00038</filename>
    <namespace>Estat::Nsi::StructureRetriever::Engines</namespace>
  </compound>
  <compound kind="file">
    <name>ConstantTimeDimensionCodeListRetrievalEngine.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Engines/</path>
    <filename>a00039</filename>
    <namespace>Estat::Nsi::StructureRetriever::Engines</namespace>
  </compound>
  <compound kind="file">
    <name>CountCodeListRetrievalEngine.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Engines/</path>
    <filename>a00040</filename>
    <namespace>Estat::Nsi::StructureRetriever::Engines</namespace>
  </compound>
  <compound kind="file">
    <name>ICodeListRetrievalEngine.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Engines/</path>
    <filename>a00041</filename>
    <namespace>Estat::Nsi::StructureRetriever::Engines</namespace>
  </compound>
  <compound kind="file">
    <name>PartialCodeListRetrievalEngine.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Engines/</path>
    <filename>a00042</filename>
    <namespace>Estat::Nsi::StructureRetriever::Engines</namespace>
  </compound>
  <compound kind="file">
    <name>AllResolver.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Engines/Resolver/</path>
    <filename>a00043</filename>
    <namespace>Estat::Nsi::StructureRetriever::Engines::Resolver</namespace>
  </compound>
  <compound kind="file">
    <name>ChildrenResolver.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Engines/Resolver/</path>
    <filename>a00044</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Engines::Resolver::ChildrenResolver</class>
    <namespace>Estat::Nsi::StructureRetriever::Engines::Resolver</namespace>
  </compound>
  <compound kind="file">
    <name>DescendantsResolver.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Engines/Resolver/</path>
    <filename>a00045</filename>
    <namespace>Estat::Nsi::StructureRetriever::Engines::Resolver</namespace>
  </compound>
  <compound kind="file">
    <name>IResolver.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Engines/Resolver/</path>
    <filename>a00046</filename>
    <class kind="interface">Estat::Nsi::StructureRetriever::Engines::Resolver::IResolver</class>
    <namespace>Estat::Nsi::StructureRetriever::Engines::Resolver</namespace>
  </compound>
  <compound kind="file">
    <name>NoneResolver.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Engines/Resolver/</path>
    <filename>a00047</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Engines::Resolver::NoneResolver</class>
    <namespace>Estat::Nsi::StructureRetriever::Engines::Resolver</namespace>
  </compound>
  <compound kind="file">
    <name>ParentsAndSiblingsResolver.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Engines/Resolver/</path>
    <filename>a00048</filename>
    <namespace>Estat::Nsi::StructureRetriever::Engines::Resolver</namespace>
  </compound>
  <compound kind="file">
    <name>ParentsResolver.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Engines/Resolver/</path>
    <filename>a00049</filename>
    <namespace>Estat::Nsi::StructureRetriever::Engines::Resolver</namespace>
  </compound>
  <compound kind="file">
    <name>ResolverBase.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Engines/Resolver/</path>
    <filename>a00050</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Engines::Resolver::ResolverBase</class>
    <namespace>Estat::Nsi::StructureRetriever::Engines::Resolver</namespace>
  </compound>
  <compound kind="file">
    <name>SpecificResolver.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Engines/Resolver/</path>
    <filename>a00051</filename>
    <namespace>Estat::Nsi::StructureRetriever::Engines::Resolver</namespace>
  </compound>
  <compound kind="file">
    <name>SimpleCodeListRetrievalEngine.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Engines/</path>
    <filename>a00052</filename>
    <namespace>Estat::Nsi::StructureRetriever::Engines</namespace>
  </compound>
  <compound kind="file">
    <name>TimeDimensionCodeListHelper.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Engines/</path>
    <filename>a00053</filename>
    <namespace>Estat::Nsi::StructureRetriever::Engines</namespace>
  </compound>
  <compound kind="file">
    <name>TimeDimensionCodeListRetrievalEngine.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Engines/</path>
    <filename>a00054</filename>
    <namespace>Estat::Nsi::StructureRetriever::Engines</namespace>
  </compound>
  <compound kind="file">
    <name>TranscodedCodeListRetrievalEngine.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Engines/</path>
    <filename>a00055</filename>
    <namespace>Estat::Nsi::StructureRetriever::Engines</namespace>
  </compound>
  <compound kind="file">
    <name>ErrorMessages.Designer.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/</path>
    <filename>a00056</filename>
    <namespace>Estat::Nsi::StructureRetriever</namespace>
  </compound>
  <compound kind="file">
    <name>AdvancedMutableStructureSearchManagerFactory.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Factory/</path>
    <filename>a00057</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Factory::AdvancedMutableStructureSearchManagerFactory</class>
    <namespace>Estat::Nsi::StructureRetriever::Factory</namespace>
  </compound>
  <compound kind="file">
    <name>AuthAdvancedMutableStructureSearchManagerFactory.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Factory/</path>
    <filename>a00058</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Factory::AuthAdvancedMutableStructureSearchManagerFactory</class>
    <namespace>Estat::Nsi::StructureRetriever::Factory</namespace>
  </compound>
  <compound kind="file">
    <name>AuthMutableStructureSearchManagerFactory.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Factory/</path>
    <filename>a00059</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Factory::AuthMutableStructureSearchManagerFactory</class>
    <namespace>Estat::Nsi::StructureRetriever::Factory</namespace>
  </compound>
  <compound kind="file">
    <name>IAuthMutableStructureSearchManagerFactory.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Factory/</path>
    <filename>a00060</filename>
    <class kind="interface">Estat::Nsi::StructureRetriever::Factory::IAuthMutableStructureSearchManagerFactory</class>
    <namespace>Estat::Nsi::StructureRetriever::Factory</namespace>
  </compound>
  <compound kind="file">
    <name>IMutableStructureSearchManagerFactory.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Factory/</path>
    <filename>a00061</filename>
    <class kind="interface">Estat::Nsi::StructureRetriever::Factory::IMutableStructureSearchManagerFactory</class>
    <namespace>Estat::Nsi::StructureRetriever::Factory</namespace>
  </compound>
  <compound kind="file">
    <name>IResolverFactory.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Factory/</path>
    <filename>a00062</filename>
    <class kind="interface">Estat::Nsi::StructureRetriever::Factory::IResolverFactory</class>
    <namespace>Estat::Nsi::StructureRetriever::Factory</namespace>
  </compound>
  <compound kind="file">
    <name>IStructureSearchManagerFactory.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Factory/</path>
    <filename>a00063</filename>
    <class kind="interface">Estat::Nsi::StructureRetriever::Factory::IStructureSearchManagerFactory</class>
    <namespace>Estat::Nsi::StructureRetriever::Factory</namespace>
  </compound>
  <compound kind="file">
    <name>MutableStructureSearchManagerFactory.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Factory/</path>
    <filename>a00064</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Factory::MutableStructureSearchManagerFactory</class>
    <namespace>Estat::Nsi::StructureRetriever::Factory</namespace>
  </compound>
  <compound kind="file">
    <name>ResolverFactory.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Factory/</path>
    <filename>a00065</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Factory::ResolverFactory</class>
    <namespace>Estat::Nsi::StructureRetriever::Factory</namespace>
  </compound>
  <compound kind="file">
    <name>StructureSearchManagerFactoryBase.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Factory/</path>
    <filename>a00066</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Factory::StructureSearchManagerFactoryBase</class>
    <namespace>Estat::Nsi::StructureRetriever::Factory</namespace>
  </compound>
  <compound kind="file">
    <name>AdvancedStructureRetriever.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Manager/</path>
    <filename>a00067</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::AdvancedStructureRetriever</class>
    <namespace>Estat::Nsi::StructureRetriever::Manager</namespace>
  </compound>
  <compound kind="file">
    <name>AuthAdvancedMutableStructureSearchManagerBase.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Manager/</path>
    <filename>a00068</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::AuthAdvancedMutableStructureSearchManagerBase</class>
    <namespace>Estat::Nsi::StructureRetriever::Manager</namespace>
  </compound>
  <compound kind="file">
    <name>AuthAdvancedStructureRetriever.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Manager/</path>
    <filename>a00069</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::AuthAdvancedStructureRetriever</class>
    <namespace>Estat::Nsi::StructureRetriever::Manager</namespace>
  </compound>
  <compound kind="file">
    <name>AuthCategorisationV20MutableStructureSearchManager.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Manager/</path>
    <filename>a00070</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::AuthCategorisationV20MutableStructureSearchManager</class>
    <namespace>Estat::Nsi::StructureRetriever::Manager</namespace>
  </compound>
  <compound kind="file">
    <name>AuthMutableStructureSearchManager.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Manager/</path>
    <filename>a00071</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::AuthMutableStructureSearchManager</class>
    <namespace>Estat::Nsi::StructureRetriever::Manager</namespace>
  </compound>
  <compound kind="file">
    <name>AuthMutableStructureSearchManagerBase.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Manager/</path>
    <filename>a00072</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::AuthMutableStructureSearchManagerBase</class>
    <namespace>Estat::Nsi::StructureRetriever::Manager</namespace>
  </compound>
  <compound kind="file">
    <name>AuthStructureRetrieverAvailableData.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Manager/</path>
    <filename>a00073</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::AuthStructureRetrieverAvailableData</class>
    <namespace>Estat::Nsi::StructureRetriever::Manager</namespace>
  </compound>
  <compound kind="file">
    <name>AuthStructureRetrieverAvailableDataV20.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Manager/</path>
    <filename>a00074</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::AuthStructureRetrieverAvailableDataV20</class>
    <namespace>Estat::Nsi::StructureRetriever::Manager</namespace>
  </compound>
  <compound kind="file">
    <name>AuthStructureRetrieverV21.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Manager/</path>
    <filename>a00075</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::AuthStructureRetrieverV21</class>
    <namespace>Estat::Nsi::StructureRetriever::Manager</namespace>
  </compound>
  <compound kind="file">
    <name>ISpecialRequestManager.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Manager/</path>
    <filename>a00076</filename>
    <namespace>Estat::Nsi::StructureRetriever::Manager</namespace>
  </compound>
  <compound kind="file">
    <name>SpecialRequestManager.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Manager/</path>
    <filename>a00077</filename>
    <namespace>Estat::Nsi::StructureRetriever::Manager</namespace>
  </compound>
  <compound kind="file">
    <name>StructureRetrieverAvailableData.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Manager/</path>
    <filename>a00078</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::StructureRetrieverAvailableData</class>
    <namespace>Estat::Nsi::StructureRetriever::Manager</namespace>
  </compound>
  <compound kind="file">
    <name>ComponentInfo.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Model/</path>
    <filename>a00079</filename>
    <namespace>Estat::Nsi::StructureRetriever::Model</namespace>
  </compound>
  <compound kind="file">
    <name>StructureRetrievalInfo.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Model/</path>
    <filename>a00080</filename>
    <namespace>Estat::Nsi::StructureRetriever::Model</namespace>
  </compound>
  <compound kind="file">
    <name>AssemblyInfo.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/Properties/</path>
    <filename>a00081</filename>
  </compound>
  <compound kind="file">
    <name>StructureRetrieverErrorTypes.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/</path>
    <filename>a00082</filename>
    <namespace>Estat::Nsi::StructureRetriever</namespace>
    <member kind="enumeration">
      <type></type>
      <name>StructureRetrieverErrorTypes</name>
      <anchorfile>a00093.html</anchorfile>
      <anchor>a88d8abf9e9d01aaa5ab8b56f5fa93321</anchor>
      <arglist></arglist>
    </member>
  </compound>
  <compound kind="file">
    <name>StructureRetrieverException.cs</name>
    <path>F:/tmp/sources/sr.net/src/sr.net/src/StructureRetriever/</path>
    <filename>a00083</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::StructureRetrieverException</class>
    <namespace>Estat::Nsi::StructureRetriever</namespace>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::Factory::AdvancedMutableStructureSearchManagerFactory</name>
    <filename>a00001.html</filename>
    <base>StructureSearchManagerFactoryBase&lt; IAdvancedMutableStructureSearchManager &gt;</base>
    <member kind="function">
      <type></type>
      <name>AdvancedMutableStructureSearchManagerFactory</name>
      <anchorfile>a00001.html</anchorfile>
      <anchor>a34225c3467ceb76a3c36c7d1d4c896c7</anchor>
      <arglist>()</arglist>
    </member>
    <member kind="function">
      <type></type>
      <name>AdvancedMutableStructureSearchManagerFactory</name>
      <anchorfile>a00001.html</anchorfile>
      <anchor>ac43acb93607ee56f35cdb2480991e451</anchor>
      <arglist>(Func&lt; object, IAdvancedMutableStructureSearchManager &gt; factoryMethod)</arglist>
    </member>
    <member kind="function" protection="protected">
      <type>override IDictionary&lt; Type, Func&lt; object, SdmxSchema, IAdvancedMutableStructureSearchManager &gt; &gt;</type>
      <name>GetFactories</name>
      <anchorfile>a00001.html</anchorfile>
      <anchor>ade3479870faecb6cdfb6663361471dd7</anchor>
      <arglist>()</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::Manager::AdvancedStructureRetriever</name>
    <filename>a00002.html</filename>
    <member kind="function">
      <type></type>
      <name>AdvancedStructureRetriever</name>
      <anchorfile>a00002.html</anchorfile>
      <anchor>a4e5594e5321435cd05ef3d138ebd037f</anchor>
      <arglist>(ConnectionStringSettings connectionStringSettings)</arglist>
    </member>
    <member kind="function">
      <type></type>
      <name>AdvancedStructureRetriever</name>
      <anchorfile>a00002.html</anchorfile>
      <anchor>a4e855bd49fc377fde08041b5e81a00e5</anchor>
      <arglist>(IStructureSearchManagerFactory&lt; IAuthAdvancedMutableStructureSearchManager &gt; factory, ConnectionStringSettings connectionStringSettings)</arglist>
    </member>
    <member kind="function">
      <type>IMutableObjects</type>
      <name>GetMaintainables</name>
      <anchorfile>a00002.html</anchorfile>
      <anchor>a4baf3c2faedba2db37b8822570879603</anchor>
      <arglist>(IComplexStructureQuery structureQuery)</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::Manager::AuthAdvancedMutableStructureSearchManagerBase</name>
    <filename>a00003.html</filename>
    <member kind="function" protection="protected" virtualness="virtual">
      <type>virtual void</type>
      <name>PopulateMutables</name>
      <anchorfile>a00003.html</anchorfile>
      <anchor>a066338111f9d34495b7ba1ae3efeb9fe</anchor>
      <arglist>(IAuthAdvancedSdmxMutableObjectRetrievalManager retrievalManager, IMutableObjects mutableObjects, IComplexStructureQuery structureQuery, IList&lt; IMaintainableRefObject &gt; allowedDataflows, IAuthCrossReferenceMutableRetrievalManager crossReferenceMutableRetrievalManager)</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::Factory::AuthAdvancedMutableStructureSearchManagerFactory</name>
    <filename>a00004.html</filename>
    <base>StructureSearchManagerFactoryBase&lt; IAuthAdvancedMutableStructureSearchManager &gt;</base>
    <member kind="function">
      <type></type>
      <name>AuthAdvancedMutableStructureSearchManagerFactory</name>
      <anchorfile>a00004.html</anchorfile>
      <anchor>a8c50f91131fae07d83e282be66e0bed6</anchor>
      <arglist>()</arglist>
    </member>
    <member kind="function">
      <type></type>
      <name>AuthAdvancedMutableStructureSearchManagerFactory</name>
      <anchorfile>a00004.html</anchorfile>
      <anchor>a5cf70c8b233782ddd9fac754e31ba322</anchor>
      <arglist>(Func&lt; object, IAuthAdvancedMutableStructureSearchManager &gt; factoryMethod)</arglist>
    </member>
    <member kind="function" protection="protected">
      <type>override IDictionary&lt; Type, Func&lt; object, SdmxSchema, IAuthAdvancedMutableStructureSearchManager &gt; &gt;</type>
      <name>GetFactories</name>
      <anchorfile>a00004.html</anchorfile>
      <anchor>ae68fc41a8fc1c88d1b0d9d6158cb1cc2</anchor>
      <arglist>()</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::Manager::AuthAdvancedStructureRetriever</name>
    <filename>a00005.html</filename>
    <base>Estat::Nsi::StructureRetriever::Manager::AuthAdvancedMutableStructureSearchManagerBase</base>
    <member kind="function">
      <type></type>
      <name>AuthAdvancedStructureRetriever</name>
      <anchorfile>a00005.html</anchorfile>
      <anchor>a3287bee38725d82d7216d9b75a9a75b1</anchor>
      <arglist>(ConnectionStringSettings connectionStringSettings)</arglist>
    </member>
    <member kind="function">
      <type></type>
      <name>AuthAdvancedStructureRetriever</name>
      <anchorfile>a00005.html</anchorfile>
      <anchor>a905b566539d474688a94e1283a8a6baf</anchor>
      <arglist>(IAuthAdvancedMutableRetrievalManagerFactory mutableRetrievalManagerFactory, IAuthCrossRetrievalManagerFactory crossReferenceManagerFactory, ConnectionStringSettings connectionStringSettings)</arglist>
    </member>
    <member kind="function">
      <type>IMutableObjects</type>
      <name>GetMaintainables</name>
      <anchorfile>a00005.html</anchorfile>
      <anchor>a924a194654a76d25288d0549f210337e</anchor>
      <arglist>(IComplexStructureQuery structureQuery, IList&lt; IMaintainableRefObject &gt; allowedDataflows)</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::Manager::AuthCategorisationV20MutableStructureSearchManager</name>
    <filename>a00006.html</filename>
    <base>Estat::Nsi::StructureRetriever::Manager::AuthMutableStructureSearchManagerBase</base>
    <member kind="function">
      <type></type>
      <name>AuthCategorisationV20MutableStructureSearchManager</name>
      <anchorfile>a00006.html</anchorfile>
      <anchor>a9435c343225952ccb49ae17e1f2c5b92</anchor>
      <arglist>(IAuthAdvancedMutableRetrievalManagerFactory mutableRetrievalManagerFactory, IAuthCrossRetrievalManagerFactory crossReferenceManager, ConnectionStringSettings connectionStringSettings)</arglist>
    </member>
    <member kind="function">
      <type></type>
      <name>AuthCategorisationV20MutableStructureSearchManager</name>
      <anchorfile>a00006.html</anchorfile>
      <anchor>a40518eb668616e4a7d4d2a0b3e20b0c9</anchor>
      <arglist>(ConnectionStringSettings connectionStringSettings)</arglist>
    </member>
    <member kind="function">
      <type></type>
      <name>AuthCategorisationV20MutableStructureSearchManager</name>
      <anchorfile>a00006.html</anchorfile>
      <anchor>ac5e9319a3102b79f329f22bc89f88b20</anchor>
      <arglist>(IAuthSdmxMutableObjectRetrievalManager fullRetrievalManager, IAuthCrossRetrievalManagerFactory crossReferenceManager)</arglist>
    </member>
    <member kind="function" protection="protected">
      <type>override void</type>
      <name>PopulateMutables</name>
      <anchorfile>a00006.html</anchorfile>
      <anchor>a6035b55705bb26b549d7d68aab518266</anchor>
      <arglist>(IAuthAdvancedSdmxMutableObjectRetrievalManager retrievalManager, IMutableObjects mutableObjects, IList&lt; IStructureReference &gt; queries, bool returnLatest, StructureQueryDetailEnumType returnStub, IList&lt; IMaintainableRefObject &gt; allowedDataflows, IAuthCrossReferenceMutableRetrievalManager crossReferenceMutableRetrievalManager)</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::Manager::AuthMutableStructureSearchManager</name>
    <filename>a00007.html</filename>
    <base>Estat::Nsi::StructureRetriever::Manager::AuthMutableStructureSearchManagerBase</base>
    <member kind="function">
      <type></type>
      <name>AuthMutableStructureSearchManager</name>
      <anchorfile>a00007.html</anchorfile>
      <anchor>a6ae1fad1588d4ea3c83a31332be66a3a</anchor>
      <arglist>(IAuthAdvancedMutableRetrievalManagerFactory mutableRetrievalManagerFactory, IAuthCrossRetrievalManagerFactory crossReferenceManager, ConnectionStringSettings connectionStringSettings)</arglist>
    </member>
    <member kind="function">
      <type></type>
      <name>AuthMutableStructureSearchManager</name>
      <anchorfile>a00007.html</anchorfile>
      <anchor>a4b3687553d2d37fb2d75dd65ce9f272a</anchor>
      <arglist>(ConnectionStringSettings connectionStringSettings)</arglist>
    </member>
    <member kind="function">
      <type></type>
      <name>AuthMutableStructureSearchManager</name>
      <anchorfile>a00007.html</anchorfile>
      <anchor>af9fcb193e8d0ad2c09a12b38b5d437ed</anchor>
      <arglist>(IAuthSdmxMutableObjectRetrievalManager fullRetrievalManager, IAuthCrossRetrievalManagerFactory crossReferenceManager)</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::Manager::AuthMutableStructureSearchManagerBase</name>
    <filename>a00008.html</filename>
    <base>Estat::Nsi::StructureRetriever::Manager::AuthAdvancedMutableStructureSearchManagerBase</base>
    <member kind="function" virtualness="virtual">
      <type>virtual IMaintainableMutableObject</type>
      <name>GetLatest</name>
      <anchorfile>a00008.html</anchorfile>
      <anchor>a72bce8b97970709122be91f23d59f210</anchor>
      <arglist>(IMaintainableMutableObject maintainableObject, IList&lt; IMaintainableRefObject &gt; allowedDataflows)</arglist>
    </member>
    <member kind="function" virtualness="virtual">
      <type>virtual IMutableObjects</type>
      <name>GetMaintainables</name>
      <anchorfile>a00008.html</anchorfile>
      <anchor>ac2cebc9e473101ce84ab74af4cc26b1f</anchor>
      <arglist>(IRestStructureQuery structureQuery, IList&lt; IMaintainableRefObject &gt; allowedDataflows)</arglist>
    </member>
    <member kind="function" virtualness="virtual">
      <type>virtual IMutableObjects</type>
      <name>RetrieveStructures</name>
      <anchorfile>a00008.html</anchorfile>
      <anchor>ae8b5035054bd737235c312b732452452</anchor>
      <arglist>(IList&lt; IStructureReference &gt; queries, bool resolveReferences, bool returnStub, IList&lt; IMaintainableRefObject &gt; allowedDataflows)</arglist>
    </member>
    <member kind="function" protection="protected">
      <type></type>
      <name>AuthMutableStructureSearchManagerBase</name>
      <anchorfile>a00008.html</anchorfile>
      <anchor>ad3d4f9b6242b7f2d84e4b14e422903a0</anchor>
      <arglist>(IAuthAdvancedMutableRetrievalManagerFactory mutableRetrievalManagerFactory, IAuthCrossRetrievalManagerFactory crossReferenceManager, ConnectionStringSettings connectionStringSettings)</arglist>
    </member>
    <member kind="function" protection="protected">
      <type></type>
      <name>AuthMutableStructureSearchManagerBase</name>
      <anchorfile>a00008.html</anchorfile>
      <anchor>a69eb2cfbc6a47ba3d4b8d0767ba92ed0</anchor>
      <arglist>(ConnectionStringSettings connectionStringSettings)</arglist>
    </member>
    <member kind="function" protection="protected">
      <type></type>
      <name>AuthMutableStructureSearchManagerBase</name>
      <anchorfile>a00008.html</anchorfile>
      <anchor>a77c840c9ab7eb7a644a9405a178daeae</anchor>
      <arglist>(IAuthSdmxMutableObjectRetrievalManager fullRetrievalManager, IAuthCrossRetrievalManagerFactory crossReferenceManager)</arglist>
    </member>
    <member kind="function" protection="protected" virtualness="virtual">
      <type>virtual void</type>
      <name>PopulateMutables</name>
      <anchorfile>a00008.html</anchorfile>
      <anchor>a8cdb47bd6c5e0d5b3194a8d799d8e1fe</anchor>
      <arglist>(IMutableObjects mutableObjects, IList&lt; IStructureReference &gt; queries, bool returnLatest, StructureQueryDetailEnumType returnStub, IList&lt; IMaintainableRefObject &gt; allowedDataflows)</arglist>
    </member>
    <member kind="function" protection="protected" virtualness="virtual">
      <type>virtual void</type>
      <name>PopulateMutables</name>
      <anchorfile>a00008.html</anchorfile>
      <anchor>afeaa8d064ab609ff0c3df6577a00be56</anchor>
      <arglist>(IAuthAdvancedSdmxMutableObjectRetrievalManager retrievalManager, IMutableObjects mutableObjects, IList&lt; IStructureReference &gt; queries, bool returnLatest, StructureQueryDetailEnumType returnStub, IList&lt; IMaintainableRefObject &gt; allowedDataflows, IAuthCrossReferenceMutableRetrievalManager crossReferenceMutableRetrievalManager)</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::Factory::AuthMutableStructureSearchManagerFactory</name>
    <filename>a00009.html</filename>
    <base>StructureSearchManagerFactoryBase&lt; IAuthMutableStructureSearchManager &gt;</base>
    <base>Estat::Nsi::StructureRetriever::Factory::IAuthMutableStructureSearchManagerFactory</base>
    <member kind="function">
      <type></type>
      <name>AuthMutableStructureSearchManagerFactory</name>
      <anchorfile>a00009.html</anchorfile>
      <anchor>a136cbec9719407e256c1388901cc235c</anchor>
      <arglist>(Func&lt; object, IAuthMutableStructureSearchManager &gt; factoryMethod)</arglist>
    </member>
    <member kind="function">
      <type></type>
      <name>AuthMutableStructureSearchManagerFactory</name>
      <anchorfile>a00009.html</anchorfile>
      <anchor>a1281d6d54241189585f5b8cce27ab14a</anchor>
      <arglist>()</arglist>
    </member>
    <member kind="function" protection="protected">
      <type>override IDictionary&lt; Type, Func&lt; object, SdmxSchema, IAuthMutableStructureSearchManager &gt; &gt;</type>
      <name>GetFactories</name>
      <anchorfile>a00009.html</anchorfile>
      <anchor>a04f2a84055174bfd643e80b1af4f2e4b</anchor>
      <arglist>()</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::Manager::AuthStructureRetrieverAvailableData</name>
    <filename>a00010.html</filename>
    <member kind="function">
      <type></type>
      <name>AuthStructureRetrieverAvailableData</name>
      <anchorfile>a00010.html</anchorfile>
      <anchor>a1c56a6826b0b6ff55e67408749c63cf3</anchor>
      <arglist>(ConnectionStringSettings connectionStringSettings, SdmxSchema sdmxSchema)</arglist>
    </member>
    <member kind="function">
      <type>IMaintainableMutableObject</type>
      <name>GetLatest</name>
      <anchorfile>a00010.html</anchorfile>
      <anchor>a0a82452871f2cf04e55667edd28a9f3d</anchor>
      <arglist>(IMaintainableMutableObject maintainableObject, IList&lt; IMaintainableRefObject &gt; allowedDataflows)</arglist>
    </member>
    <member kind="function">
      <type>IMutableObjects</type>
      <name>GetMaintainables</name>
      <anchorfile>a00010.html</anchorfile>
      <anchor>a3e21cf4c6bd9eb5f9092c059e43ba2c8</anchor>
      <arglist>(IRestStructureQuery structureQuery, IList&lt; IMaintainableRefObject &gt; allowedDataflows)</arglist>
    </member>
    <member kind="function">
      <type>IMutableObjects</type>
      <name>RetrieveStructures</name>
      <anchorfile>a00010.html</anchorfile>
      <anchor>afdc93ad2a2d13496335daa5421244ee5</anchor>
      <arglist>(IList&lt; IStructureReference &gt; queries, bool resolveReferences, bool returnStub, IList&lt; IMaintainableRefObject &gt; allowedDataflows)</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::Manager::AuthStructureRetrieverAvailableDataV20</name>
    <filename>a00011.html</filename>
    <base>Estat::Nsi::StructureRetriever::Manager::AuthCategorisationV20MutableStructureSearchManager</base>
    <member kind="function">
      <type></type>
      <name>AuthStructureRetrieverAvailableDataV20</name>
      <anchorfile>a00011.html</anchorfile>
      <anchor>a5a7b8adbaa907462d1fe4fd2337121a2</anchor>
      <arglist>(ConnectionStringSettings connectionStringSettings)</arglist>
    </member>
    <member kind="function" protection="protected">
      <type>override void</type>
      <name>PopulateMutables</name>
      <anchorfile>a00011.html</anchorfile>
      <anchor>a5151acefb71e970e9947b1c1902d4cf2</anchor>
      <arglist>(IAuthAdvancedSdmxMutableObjectRetrievalManager retrievalManager, IMutableObjects mutableObjects, IList&lt; IStructureReference &gt; queries, bool returnLatest, StructureQueryDetailEnumType returnStub, IList&lt; IMaintainableRefObject &gt; allowedDataflows, IAuthCrossReferenceMutableRetrievalManager crossReferenceMutableRetrievalManager)</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::Manager::AuthStructureRetrieverV21</name>
    <filename>a00012.html</filename>
    <base>Estat::Nsi::StructureRetriever::Manager::AuthMutableStructureSearchManagerBase</base>
    <member kind="function">
      <type></type>
      <name>AuthStructureRetrieverV21</name>
      <anchorfile>a00012.html</anchorfile>
      <anchor>a8542709028fb9cc3be2e5eef8a6e889c</anchor>
      <arglist>(IAuthAdvancedMutableRetrievalManagerFactory mutableRetrievalManagerFactory, IAuthCrossRetrievalManagerFactory crossReferenceManager, ConnectionStringSettings connectionStringSettings)</arglist>
    </member>
    <member kind="function">
      <type></type>
      <name>AuthStructureRetrieverV21</name>
      <anchorfile>a00012.html</anchorfile>
      <anchor>ac9edab56f962793486fc6b3a1aee406c</anchor>
      <arglist>(ConnectionStringSettings connectionStringSettings)</arglist>
    </member>
    <member kind="function">
      <type></type>
      <name>AuthStructureRetrieverV21</name>
      <anchorfile>a00012.html</anchorfile>
      <anchor>a359e05b48902ee7b4e8eb9e08c961019</anchor>
      <arglist>(IAuthSdmxMutableObjectRetrievalManager fullRetrievalManager, IAuthCrossRetrievalManagerFactory crossReferenceManager)</arglist>
    </member>
    <member kind="function">
      <type>override IMaintainableMutableObject</type>
      <name>GetLatest</name>
      <anchorfile>a00012.html</anchorfile>
      <anchor>a8befa6605a366e306a5a291315fce5ff</anchor>
      <arglist>(IMaintainableMutableObject maintainableObject, IList&lt; IMaintainableRefObject &gt; allowedDataflows)</arglist>
    </member>
    <member kind="function">
      <type>override IMutableObjects</type>
      <name>GetMaintainables</name>
      <anchorfile>a00012.html</anchorfile>
      <anchor>a4490890bf8b102e7460dd150883a097d</anchor>
      <arglist>(IRestStructureQuery structureQuery, IList&lt; IMaintainableRefObject &gt; allowedDataflows)</arglist>
    </member>
    <member kind="function">
      <type>override IMutableObjects</type>
      <name>RetrieveStructures</name>
      <anchorfile>a00012.html</anchorfile>
      <anchor>ab774b532eb5c30e5bcc98201ea2265f5</anchor>
      <arglist>(IList&lt; IStructureReference &gt; queries, bool resolveReferences, bool returnStub, IList&lt; IMaintainableRefObject &gt; allowedDataflows)</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::Engines::Resolver::ChildrenResolver</name>
    <filename>a00013.html</filename>
    <base>Estat::Nsi::StructureRetriever::Engines::Resolver::ResolverBase</base>
    <base>Estat::Nsi::StructureRetriever::Engines::Resolver::IResolver</base>
    <member kind="function">
      <type></type>
      <name>ChildrenResolver</name>
      <anchorfile>a00013.html</anchorfile>
      <anchor>a7cd8e9d71e17eba94af509e3a76fa27d</anchor>
      <arglist>(IAuthCrossReferenceMutableRetrievalManager crossReferenceManager)</arglist>
    </member>
    <member kind="function">
      <type>void</type>
      <name>ResolveReferences</name>
      <anchorfile>a00013.html</anchorfile>
      <anchor>a72ebedf053987bbe763908f1d348024b</anchor>
      <arglist>(IMutableObjects mutableObjects, bool returnStub, IList&lt; IMaintainableRefObject &gt; allowedDataflows)</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::CustomCodelistConstants</name>
    <filename>a00014.html</filename>
    <member kind="function" static="yes">
      <type>static bool</type>
      <name>IsCountRequest</name>
      <anchorfile>a00014.html</anchorfile>
      <anchor>a587eebf2013231e50d1ce2bab7b9311e</anchor>
      <arglist>(IMaintainableRefObject codeListRef)</arglist>
    </member>
    <member kind="function" static="yes">
      <type>static bool</type>
      <name>IsTimeDimensionRequest</name>
      <anchorfile>a00014.html</anchorfile>
      <anchor>a19a8a81ebd00c080a3240ab86708d767</anchor>
      <arglist>(IMaintainableRefObject codeListRef)</arglist>
    </member>
    <member kind="variable">
      <type>const string</type>
      <name>Agency</name>
      <anchorfile>a00014.html</anchorfile>
      <anchor>ab20db40db6334a914c9216df91fba089</anchor>
      <arglist></arglist>
    </member>
    <member kind="variable">
      <type>const string</type>
      <name>CountCodeDefault</name>
      <anchorfile>a00014.html</anchorfile>
      <anchor>a6717ddb4289554acce4ec1f94ec65f2f</anchor>
      <arglist></arglist>
    </member>
    <member kind="variable">
      <type>const string</type>
      <name>CountCodeDescription</name>
      <anchorfile>a00014.html</anchorfile>
      <anchor>a3ea3e1f59c6730c3f09f2ccc56891259</anchor>
      <arglist></arglist>
    </member>
    <member kind="variable">
      <type>const string</type>
      <name>CountCodeList</name>
      <anchorfile>a00014.html</anchorfile>
      <anchor>a758d676a46cddbc368c7d6fe1e763640</anchor>
      <arglist></arglist>
    </member>
    <member kind="variable">
      <type>const string</type>
      <name>CountCodeListName</name>
      <anchorfile>a00014.html</anchorfile>
      <anchor>a25149c62ec7a9c547d36b78ca03a7d57</anchor>
      <arglist></arglist>
    </member>
    <member kind="variable">
      <type>const string</type>
      <name>Lang</name>
      <anchorfile>a00014.html</anchorfile>
      <anchor>a06a22f1a8b219fcc9eeffdbedc724fe0</anchor>
      <arglist></arglist>
    </member>
    <member kind="variable">
      <type>const string</type>
      <name>TimePeriodCodeList</name>
      <anchorfile>a00014.html</anchorfile>
      <anchor>a8bb188b0dd546ff771f3e64ce6033b50</anchor>
      <arglist></arglist>
    </member>
    <member kind="variable">
      <type>const string</type>
      <name>TimePeriodCodeListName</name>
      <anchorfile>a00014.html</anchorfile>
      <anchor>a6d0661f1c7a823532d957a42da95e63d</anchor>
      <arglist></arglist>
    </member>
    <member kind="variable">
      <type>const string</type>
      <name>TimePeriodEndDescription</name>
      <anchorfile>a00014.html</anchorfile>
      <anchor>aafe902430211ba12f4bf4308a537602e</anchor>
      <arglist></arglist>
    </member>
    <member kind="variable">
      <type>const string</type>
      <name>TimePeriodMax</name>
      <anchorfile>a00014.html</anchorfile>
      <anchor>a6ef0e1572d9d096f046f71115fddd002</anchor>
      <arglist></arglist>
    </member>
    <member kind="variable">
      <type>const string</type>
      <name>TimePeriodMin</name>
      <anchorfile>a00014.html</anchorfile>
      <anchor>a2b877883d8a9151dc479e1a41f8cb67a</anchor>
      <arglist></arglist>
    </member>
    <member kind="variable">
      <type>const string</type>
      <name>TimePeriodStartDescription</name>
      <anchorfile>a00014.html</anchorfile>
      <anchor>a0c32fa8d6fe8d83148d85680f23324a3</anchor>
      <arglist></arglist>
    </member>
    <member kind="variable">
      <type>const string</type>
      <name>Version</name>
      <anchorfile>a00014.html</anchorfile>
      <anchor>a8bbc813f73d1fa47f69752d7f6e81a0e</anchor>
      <arglist></arglist>
    </member>
  </compound>
  <compound kind="interface">
    <name>Estat::Nsi::StructureRetriever::Factory::IAuthMutableStructureSearchManagerFactory</name>
    <filename>a00015.html</filename>
    <base>IStructureSearchManagerFactory&lt; IAuthMutableStructureSearchManager &gt;</base>
  </compound>
  <compound kind="interface">
    <name>Estat::Nsi::StructureRetriever::Factory::IMutableStructureSearchManagerFactory</name>
    <filename>a00016.html</filename>
    <base>IStructureSearchManagerFactory&lt; IMutableStructureSearchManager &gt;</base>
  </compound>
  <compound kind="interface">
    <name>Estat::Nsi::StructureRetriever::Engines::Resolver::IResolver</name>
    <filename>a00017.html</filename>
    <member kind="function">
      <type>void</type>
      <name>ResolveReferences</name>
      <anchorfile>a00017.html</anchorfile>
      <anchor>a704379b84a36cbcdf59461e8b938253a</anchor>
      <arglist>(IMutableObjects mutableObjects, bool returnStub, IList&lt; IMaintainableRefObject &gt; allowedDataflows)</arglist>
    </member>
  </compound>
  <compound kind="interface">
    <name>Estat::Nsi::StructureRetriever::Factory::IResolverFactory</name>
    <filename>a00018.html</filename>
    <member kind="function">
      <type>IResolver</type>
      <name>GetResolver</name>
      <anchorfile>a00018.html</anchorfile>
      <anchor>a8dcf9578219a52165cb231fc5fbb27bf</anchor>
      <arglist>(StructureReferenceDetail referenceDetailType, IAuthCrossReferenceMutableRetrievalManager crossReferenceManager, params SdmxStructureType[] specificStructureTypes)</arglist>
    </member>
  </compound>
  <compound kind="interface">
    <name>Estat::Nsi::StructureRetriever::Factory::IStructureSearchManagerFactory</name>
    <filename>a00019.html</filename>
    <templarg>TStructureSearch</templarg>
    <member kind="function">
      <type>TStructureSearch</type>
      <name>GetStructureSearchManager&lt; T &gt;</name>
      <anchorfile>a00019.html</anchorfile>
      <anchor>a2c2e53cc0855b9f5119022d167886b4e</anchor>
      <arglist>(T settings, SdmxSchema sdmxSchemaVersion)</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>IStructureSearchManagerFactory&lt; IAuthMutableStructureSearchManager &gt;</name>
    <filename>a00019.html</filename>
    <member kind="function">
      <type>TStructureSearch</type>
      <name>GetStructureSearchManager&lt; T &gt;</name>
      <anchorfile>a00019.html</anchorfile>
      <anchor>a2c2e53cc0855b9f5119022d167886b4e</anchor>
      <arglist>(T settings, SdmxSchema sdmxSchemaVersion)</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>IStructureSearchManagerFactory&lt; IMutableStructureSearchManager &gt;</name>
    <filename>a00019.html</filename>
    <member kind="function">
      <type>TStructureSearch</type>
      <name>GetStructureSearchManager&lt; T &gt;</name>
      <anchorfile>a00019.html</anchorfile>
      <anchor>a2c2e53cc0855b9f5119022d167886b4e</anchor>
      <arglist>(T settings, SdmxSchema sdmxSchemaVersion)</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>IStructureSearchManagerFactory&lt; TStructureSearch &gt;</name>
    <filename>a00019.html</filename>
    <member kind="function">
      <type>TStructureSearch</type>
      <name>GetStructureSearchManager&lt; T &gt;</name>
      <anchorfile>a00019.html</anchorfile>
      <anchor>a2c2e53cc0855b9f5119022d167886b4e</anchor>
      <arglist>(T settings, SdmxSchema sdmxSchemaVersion)</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::Factory::MutableStructureSearchManagerFactory</name>
    <filename>a00020.html</filename>
    <base>StructureSearchManagerFactoryBase&lt; IMutableStructureSearchManager &gt;</base>
    <base>Estat::Nsi::StructureRetriever::Factory::IMutableStructureSearchManagerFactory</base>
    <member kind="function">
      <type></type>
      <name>MutableStructureSearchManagerFactory</name>
      <anchorfile>a00020.html</anchorfile>
      <anchor>af2c828732a128892ba0bba41bf7bd338</anchor>
      <arglist>(Func&lt; object, IMutableStructureSearchManager &gt; factoryMethod)</arglist>
    </member>
    <member kind="function">
      <type></type>
      <name>MutableStructureSearchManagerFactory</name>
      <anchorfile>a00020.html</anchorfile>
      <anchor>a24a2bde77fb03496f86f0b8a79919d9a</anchor>
      <arglist>()</arglist>
    </member>
    <member kind="function" protection="protected">
      <type>override IDictionary&lt; Type, Func&lt; object, SdmxSchema, IMutableStructureSearchManager &gt; &gt;</type>
      <name>GetFactories</name>
      <anchorfile>a00020.html</anchorfile>
      <anchor>a021e9f35371803f8795867b3ef9cdbee</anchor>
      <arglist>()</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::Engines::Resolver::NoneResolver</name>
    <filename>a00021.html</filename>
    <base>Estat::Nsi::StructureRetriever::Engines::Resolver::IResolver</base>
    <member kind="function">
      <type>void</type>
      <name>ResolveReferences</name>
      <anchorfile>a00021.html</anchorfile>
      <anchor>ac089a831121a7f51b9ea83c50738204b</anchor>
      <arglist>(IMutableObjects mutableObjects, bool returnStub, IList&lt; IMaintainableRefObject &gt; allowedDataflows)</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::Engines::Resolver::ResolverBase</name>
    <filename>a00022.html</filename>
    <member kind="function" protection="protected">
      <type></type>
      <name>ResolverBase</name>
      <anchorfile>a00022.html</anchorfile>
      <anchor>ab74f0d860d70dddf28bac7dfb6797e19</anchor>
      <arglist>(IAuthCrossReferenceMutableRetrievalManager crossReferenceManager)</arglist>
    </member>
    <member kind="property" protection="protected">
      <type>IAuthCrossReferenceMutableRetrievalManager</type>
      <name>CrossReferenceManager</name>
      <anchorfile>a00022.html</anchorfile>
      <anchor>afac6d34292a24b9211da6dcd1f7bc7c4</anchor>
      <arglist></arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::Factory::ResolverFactory</name>
    <filename>a00023.html</filename>
    <base>Estat::Nsi::StructureRetriever::Factory::IResolverFactory</base>
    <member kind="function">
      <type>IResolver</type>
      <name>GetResolver</name>
      <anchorfile>a00023.html</anchorfile>
      <anchor>a117d2bfae49718bd4bf3c5adcb674186</anchor>
      <arglist>(StructureReferenceDetail referenceDetailType, IAuthCrossReferenceMutableRetrievalManager crossReferenceManager, params SdmxStructureType[] specificStructureTypes)</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::Manager::StructureRetrieverAvailableData</name>
    <filename>a00024.html</filename>
    <member kind="function">
      <type></type>
      <name>StructureRetrieverAvailableData</name>
      <anchorfile>a00024.html</anchorfile>
      <anchor>a83cd8b5858df803c57d346b3f7d4e325</anchor>
      <arglist>(ConnectionStringSettings connectionStringSettings, SdmxSchema sdmxSchema)</arglist>
    </member>
    <member kind="function">
      <type>IMaintainableMutableObject</type>
      <name>GetLatest</name>
      <anchorfile>a00024.html</anchorfile>
      <anchor>ab20fff892baf309bf84d8027dcc2266d</anchor>
      <arglist>(IMaintainableMutableObject maintainableObject)</arglist>
    </member>
    <member kind="function">
      <type>IMutableObjects</type>
      <name>GetMaintainables</name>
      <anchorfile>a00024.html</anchorfile>
      <anchor>a0be20470547da91f16799ee8fec57018</anchor>
      <arglist>(IRestStructureQuery structureQuery)</arglist>
    </member>
    <member kind="function">
      <type>IMutableObjects</type>
      <name>RetrieveStructures</name>
      <anchorfile>a00024.html</anchorfile>
      <anchor>a70d60e7a806eb042df406c979f334961</anchor>
      <arglist>(IList&lt; IStructureReference &gt; queries, bool resolveReferences, bool returnStub)</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::StructureRetrieverException</name>
    <filename>a00025.html</filename>
    <member kind="function">
      <type></type>
      <name>StructureRetrieverException</name>
      <anchorfile>a00025.html</anchorfile>
      <anchor>a464b3025e370d4b09a97447c76c985be</anchor>
      <arglist>(StructureRetrieverErrorTypes errorType)</arglist>
    </member>
    <member kind="function">
      <type></type>
      <name>StructureRetrieverException</name>
      <anchorfile>a00025.html</anchorfile>
      <anchor>ad0cac9a7eec99263ef5aa3785668012a</anchor>
      <arglist>(StructureRetrieverErrorTypes errorType, string message)</arglist>
    </member>
    <member kind="function">
      <type></type>
      <name>StructureRetrieverException</name>
      <anchorfile>a00025.html</anchorfile>
      <anchor>a729e0a8da0159459a0ef2eceb3cff011</anchor>
      <arglist>(StructureRetrieverErrorTypes errorType, string message, Exception innerException)</arglist>
    </member>
    <member kind="function">
      <type></type>
      <name>StructureRetrieverException</name>
      <anchorfile>a00025.html</anchorfile>
      <anchor>a4a9816a5b1323f88f75be6abb1eb7b4c</anchor>
      <arglist>()</arglist>
    </member>
    <member kind="function">
      <type></type>
      <name>StructureRetrieverException</name>
      <anchorfile>a00025.html</anchorfile>
      <anchor>ab7331fd8fe132c046a23624e9190cde5</anchor>
      <arglist>(string message, Exception innerException)</arglist>
    </member>
    <member kind="function">
      <type></type>
      <name>StructureRetrieverException</name>
      <anchorfile>a00025.html</anchorfile>
      <anchor>a22dce138e713f47db8bd2ae46a6bf63d</anchor>
      <arglist>(string message)</arglist>
    </member>
    <member kind="function">
      <type>override void</type>
      <name>GetObjectData</name>
      <anchorfile>a00025.html</anchorfile>
      <anchor>a2e286ce75a83158de49928f526a7945c</anchor>
      <arglist>(SerializationInfo info, StreamingContext context)</arglist>
    </member>
    <member kind="function" protection="protected">
      <type></type>
      <name>StructureRetrieverException</name>
      <anchorfile>a00025.html</anchorfile>
      <anchor>a9e9b0fc5a50e37b70dbc0595618dcc6c</anchor>
      <arglist>(SerializationInfo info, StreamingContext context)</arglist>
    </member>
    <member kind="property">
      <type>StructureRetrieverErrorTypes</type>
      <name>ErrorType</name>
      <anchorfile>a00025.html</anchorfile>
      <anchor>a2bb173c504ef09d89e142ae09f5eb741</anchor>
      <arglist></arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>Estat::Nsi::StructureRetriever::Factory::StructureSearchManagerFactoryBase</name>
    <filename>a00026.html</filename>
    <templarg></templarg>
    <base>IStructureSearchManagerFactory&lt; TStructureSearch &gt;</base>
    <member kind="function">
      <type>TStructureSearch</type>
      <name>GetStructureSearchManager&lt; T &gt;</name>
      <anchorfile>a00026.html</anchorfile>
      <anchor>a8d847df2685d0e26e804793d2921268c</anchor>
      <arglist>(T settings, SdmxSchema sdmxSchemaVersion)</arglist>
    </member>
    <member kind="function" protection="protected">
      <type></type>
      <name>StructureSearchManagerFactoryBase</name>
      <anchorfile>a00026.html</anchorfile>
      <anchor>a2db6f160168148bea5e84a04e495a8f4</anchor>
      <arglist>(Func&lt; object, TStructureSearch &gt; factoryMethod)</arglist>
    </member>
    <member kind="function" protection="protected" virtualness="pure">
      <type>abstract IDictionary&lt; Type, Func&lt; object, SdmxSchema, TStructureSearch &gt; &gt;</type>
      <name>GetFactories</name>
      <anchorfile>a00026.html</anchorfile>
      <anchor>a47ced43e1a9cfe559382d1d01c80b697</anchor>
      <arglist>()</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>StructureSearchManagerFactoryBase&lt; IAdvancedMutableStructureSearchManager &gt;</name>
    <filename>a00026.html</filename>
    <member kind="function">
      <type>TStructureSearch</type>
      <name>GetStructureSearchManager&lt; T &gt;</name>
      <anchorfile>a00026.html</anchorfile>
      <anchor>a8d847df2685d0e26e804793d2921268c</anchor>
      <arglist>(T settings, SdmxSchema sdmxSchemaVersion)</arglist>
    </member>
    <member kind="function" protection="protected">
      <type></type>
      <name>StructureSearchManagerFactoryBase</name>
      <anchorfile>a00026.html</anchorfile>
      <anchor>a2db6f160168148bea5e84a04e495a8f4</anchor>
      <arglist>(Func&lt; object, TStructureSearch &gt; factoryMethod)</arglist>
    </member>
    <member kind="function" protection="protected" virtualness="pure">
      <type>abstract IDictionary&lt; Type, Func&lt; object, SdmxSchema, TStructureSearch &gt; &gt;</type>
      <name>GetFactories</name>
      <anchorfile>a00026.html</anchorfile>
      <anchor>a47ced43e1a9cfe559382d1d01c80b697</anchor>
      <arglist>()</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>StructureSearchManagerFactoryBase&lt; IAuthAdvancedMutableStructureSearchManager &gt;</name>
    <filename>a00026.html</filename>
    <member kind="function">
      <type>TStructureSearch</type>
      <name>GetStructureSearchManager&lt; T &gt;</name>
      <anchorfile>a00026.html</anchorfile>
      <anchor>a8d847df2685d0e26e804793d2921268c</anchor>
      <arglist>(T settings, SdmxSchema sdmxSchemaVersion)</arglist>
    </member>
    <member kind="function" protection="protected">
      <type></type>
      <name>StructureSearchManagerFactoryBase</name>
      <anchorfile>a00026.html</anchorfile>
      <anchor>a2db6f160168148bea5e84a04e495a8f4</anchor>
      <arglist>(Func&lt; object, TStructureSearch &gt; factoryMethod)</arglist>
    </member>
    <member kind="function" protection="protected" virtualness="pure">
      <type>abstract IDictionary&lt; Type, Func&lt; object, SdmxSchema, TStructureSearch &gt; &gt;</type>
      <name>GetFactories</name>
      <anchorfile>a00026.html</anchorfile>
      <anchor>a47ced43e1a9cfe559382d1d01c80b697</anchor>
      <arglist>()</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>StructureSearchManagerFactoryBase&lt; IAuthMutableStructureSearchManager &gt;</name>
    <filename>a00026.html</filename>
    <member kind="function">
      <type>TStructureSearch</type>
      <name>GetStructureSearchManager&lt; T &gt;</name>
      <anchorfile>a00026.html</anchorfile>
      <anchor>a8d847df2685d0e26e804793d2921268c</anchor>
      <arglist>(T settings, SdmxSchema sdmxSchemaVersion)</arglist>
    </member>
    <member kind="function" protection="protected">
      <type></type>
      <name>StructureSearchManagerFactoryBase</name>
      <anchorfile>a00026.html</anchorfile>
      <anchor>a2db6f160168148bea5e84a04e495a8f4</anchor>
      <arglist>(Func&lt; object, TStructureSearch &gt; factoryMethod)</arglist>
    </member>
    <member kind="function" protection="protected" virtualness="pure">
      <type>abstract IDictionary&lt; Type, Func&lt; object, SdmxSchema, TStructureSearch &gt; &gt;</type>
      <name>GetFactories</name>
      <anchorfile>a00026.html</anchorfile>
      <anchor>a47ced43e1a9cfe559382d1d01c80b697</anchor>
      <arglist>()</arglist>
    </member>
  </compound>
  <compound kind="class">
    <name>StructureSearchManagerFactoryBase&lt; IMutableStructureSearchManager &gt;</name>
    <filename>a00026.html</filename>
    <member kind="function">
      <type>TStructureSearch</type>
      <name>GetStructureSearchManager&lt; T &gt;</name>
      <anchorfile>a00026.html</anchorfile>
      <anchor>a8d847df2685d0e26e804793d2921268c</anchor>
      <arglist>(T settings, SdmxSchema sdmxSchemaVersion)</arglist>
    </member>
    <member kind="function" protection="protected">
      <type></type>
      <name>StructureSearchManagerFactoryBase</name>
      <anchorfile>a00026.html</anchorfile>
      <anchor>a2db6f160168148bea5e84a04e495a8f4</anchor>
      <arglist>(Func&lt; object, TStructureSearch &gt; factoryMethod)</arglist>
    </member>
    <member kind="function" protection="protected" virtualness="pure">
      <type>abstract IDictionary&lt; Type, Func&lt; object, SdmxSchema, TStructureSearch &gt; &gt;</type>
      <name>GetFactories</name>
      <anchorfile>a00026.html</anchorfile>
      <anchor>a47ced43e1a9cfe559382d1d01c80b697</anchor>
      <arglist>()</arglist>
    </member>
  </compound>
  <compound kind="namespace">
    <name>CodelistRefBean</name>
    <filename>a00084.html</filename>
  </compound>
  <compound kind="namespace">
    <name>DataflowRefBean</name>
    <filename>a00085.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat</name>
    <filename>a00086.html</filename>
    <namespace>Estat::Nsi</namespace>
  </compound>
  <compound kind="namespace">
    <name>Estat::Nsi</name>
    <filename>a00087.html</filename>
    <namespace>Estat::Nsi::StructureRetriever</namespace>
  </compound>
  <compound kind="namespace">
    <name>Estat::Nsi::Logger</name>
    <filename>a00088.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Nsi::MappingStore</name>
    <filename>a00089.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Nsi::MappingStore::Config</name>
    <filename>a00090.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Nsi::MappingStore::Mapping</name>
    <filename>a00091.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Nsi::MappingStore::MappingObjectModel</name>
    <filename>a00092.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Nsi::StructureRetriever</name>
    <filename>a00093.html</filename>
    <namespace>Estat::Nsi::StructureRetriever::Builders</namespace>
    <namespace>Estat::Nsi::StructureRetriever::Engines</namespace>
    <namespace>Estat::Nsi::StructureRetriever::Factory</namespace>
    <namespace>Estat::Nsi::StructureRetriever::Manager</namespace>
    <namespace>Estat::Nsi::StructureRetriever::Model</namespace>
    <class kind="class">Estat::Nsi::StructureRetriever::CustomCodelistConstants</class>
    <class kind="class">Estat::Nsi::StructureRetriever::StructureRetrieverException</class>
    <member kind="enumeration">
      <type></type>
      <name>StructureRetrieverErrorTypes</name>
      <anchorfile>a00093.html</anchorfile>
      <anchor>a88d8abf9e9d01aaa5ab8b56f5fa93321</anchor>
      <arglist></arglist>
    </member>
  </compound>
  <compound kind="namespace">
    <name>Estat::Nsi::StructureRetriever::Builders</name>
    <filename>a00094.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Nsi::StructureRetriever::Engines</name>
    <filename>a00095.html</filename>
    <namespace>Estat::Nsi::StructureRetriever::Engines::Resolver</namespace>
  </compound>
  <compound kind="namespace">
    <name>Estat::Nsi::StructureRetriever::Engines::Resolver</name>
    <filename>a00096.html</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Engines::Resolver::ChildrenResolver</class>
    <class kind="interface">Estat::Nsi::StructureRetriever::Engines::Resolver::IResolver</class>
    <class kind="class">Estat::Nsi::StructureRetriever::Engines::Resolver::NoneResolver</class>
    <class kind="class">Estat::Nsi::StructureRetriever::Engines::Resolver::ResolverBase</class>
  </compound>
  <compound kind="namespace">
    <name>Estat::Nsi::StructureRetriever::Factory</name>
    <filename>a00097.html</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Factory::AdvancedMutableStructureSearchManagerFactory</class>
    <class kind="class">Estat::Nsi::StructureRetriever::Factory::AuthAdvancedMutableStructureSearchManagerFactory</class>
    <class kind="class">Estat::Nsi::StructureRetriever::Factory::AuthMutableStructureSearchManagerFactory</class>
    <class kind="interface">Estat::Nsi::StructureRetriever::Factory::IAuthMutableStructureSearchManagerFactory</class>
    <class kind="interface">Estat::Nsi::StructureRetriever::Factory::IMutableStructureSearchManagerFactory</class>
    <class kind="interface">Estat::Nsi::StructureRetriever::Factory::IResolverFactory</class>
    <class kind="interface">Estat::Nsi::StructureRetriever::Factory::IStructureSearchManagerFactory</class>
    <class kind="class">Estat::Nsi::StructureRetriever::Factory::MutableStructureSearchManagerFactory</class>
    <class kind="class">Estat::Nsi::StructureRetriever::Factory::ResolverFactory</class>
    <class kind="class">Estat::Nsi::StructureRetriever::Factory::StructureSearchManagerFactoryBase</class>
  </compound>
  <compound kind="namespace">
    <name>Estat::Nsi::StructureRetriever::Manager</name>
    <filename>a00098.html</filename>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::AdvancedStructureRetriever</class>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::AuthAdvancedMutableStructureSearchManagerBase</class>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::AuthAdvancedStructureRetriever</class>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::AuthCategorisationV20MutableStructureSearchManager</class>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::AuthMutableStructureSearchManager</class>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::AuthMutableStructureSearchManagerBase</class>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::AuthStructureRetrieverAvailableData</class>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::AuthStructureRetrieverAvailableDataV20</class>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::AuthStructureRetrieverV21</class>
    <class kind="class">Estat::Nsi::StructureRetriever::Manager::StructureRetrieverAvailableData</class>
  </compound>
  <compound kind="namespace">
    <name>Estat::Nsi::StructureRetriever::Model</name>
    <filename>a00099.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Sdmx::Model::Base</name>
    <filename>a00100.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Sdmx::Model::Query</name>
    <filename>a00101.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Sdmx::Model::Registry</name>
    <filename>a00102.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Sdmx::Model::Structure</name>
    <filename>a00103.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Sdmxsource::Extension::Builder</name>
    <filename>a00104.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Sdmxsource::Extension::Extension</name>
    <filename>a00105.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Sdmxsource::Extension::Manager</name>
    <filename>a00106.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Sri::CustomRequests::Constants</name>
    <filename>a00107.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Sri::CustomRequests::Model</name>
    <filename>a00108.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Sri::MappingStoreRetrieval::Config</name>
    <filename>a00109.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Sri::MappingStoreRetrieval::Constants</name>
    <filename>a00110.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Sri::MappingStoreRetrieval::Engine</name>
    <filename>a00111.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Sri::MappingStoreRetrieval::Engine::Mapping</name>
    <filename>a00112.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Sri::MappingStoreRetrieval::Extensions</name>
    <filename>a00113.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Sri::MappingStoreRetrieval::Factory</name>
    <filename>a00114.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Sri::MappingStoreRetrieval::Helper</name>
    <filename>a00115.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Sri::MappingStoreRetrieval::Manager</name>
    <filename>a00116.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Estat::Sri::MappingStoreRetrieval::Model::MappingStoreModel</name>
    <filename>a00117.html</filename>
  </compound>
  <compound kind="namespace">
    <name>log4net</name>
    <filename>a00118.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Microsoft::Practices::EnterpriseLibrary::Data</name>
    <filename>a00119.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::Api::Constants</name>
    <filename>a00120.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::Api::Exception</name>
    <filename>a00121.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::Api::Manager::Retrieval::Mutable</name>
    <filename>a00122.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::Api::Model::Base</name>
    <filename>a00123.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::Api::Model::Mutable</name>
    <filename>a00124.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::Api::Model::Mutable::Base</name>
    <filename>a00125.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::Api::Model::Mutable::Codelist</name>
    <filename>a00126.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::Api::Model::Mutable::Registry</name>
    <filename>a00127.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::Api::Model::Objects::Reference</name>
    <filename>a00128.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::Api::Model::Objects::Reference::Complex</name>
    <filename>a00129.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::Api::Model::Objects::Registry</name>
    <filename>a00130.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::Api::Model::Query</name>
    <filename>a00131.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::SdmxObjects::Model::Mutable::Base</name>
    <filename>a00132.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::SdmxObjects::Model::Mutable::Codelist</name>
    <filename>a00133.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::SdmxObjects::Model::Mutable::Registry</name>
    <filename>a00134.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::SdmxObjects::Model::Objects::Base</name>
    <filename>a00135.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::SdmxObjects::Model::Objects::Reference</name>
    <filename>a00136.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::SdmxObjects::Model::Objects::Registry</name>
    <filename>a00137.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::Util::Objects::Container</name>
    <filename>a00138.html</filename>
  </compound>
  <compound kind="namespace">
    <name>Org::Sdmxsource::Sdmx::Util::Objects::Reference</name>
    <filename>a00139.html</filename>
  </compound>
  <compound kind="namespace">
    <name>System</name>
    <filename>a00140.html</filename>
  </compound>
  <compound kind="namespace">
    <name>System::Collections::Generic</name>
    <filename>a00141.html</filename>
  </compound>
  <compound kind="namespace">
    <name>System::Collections::ObjectModel</name>
    <filename>a00142.html</filename>
  </compound>
  <compound kind="namespace">
    <name>System::Configuration</name>
    <filename>a00143.html</filename>
  </compound>
  <compound kind="namespace">
    <name>System::Data</name>
    <filename>a00144.html</filename>
  </compound>
  <compound kind="namespace">
    <name>System::Data::Common</name>
    <filename>a00145.html</filename>
  </compound>
  <compound kind="namespace">
    <name>System::Data::Odbc</name>
    <filename>a00146.html</filename>
  </compound>
  <compound kind="namespace">
    <name>System::Diagnostics::CodeAnalysis</name>
    <filename>a00147.html</filename>
  </compound>
  <compound kind="namespace">
    <name>System::Globalization</name>
    <filename>a00148.html</filename>
  </compound>
  <compound kind="namespace">
    <name>System::IO::IsolatedStorage</name>
    <filename>a00149.html</filename>
  </compound>
  <compound kind="namespace">
    <name>System::Linq</name>
    <filename>a00150.html</filename>
  </compound>
  <compound kind="namespace">
    <name>System::Reflection</name>
    <filename>a00151.html</filename>
  </compound>
  <compound kind="namespace">
    <name>System::Resources</name>
    <filename>a00152.html</filename>
  </compound>
  <compound kind="namespace">
    <name>System::Runtime::InteropServices</name>
    <filename>a00153.html</filename>
  </compound>
  <compound kind="namespace">
    <name>System::Runtime::Serialization</name>
    <filename>a00154.html</filename>
  </compound>
  <compound kind="namespace">
    <name>System::Security::Permissions</name>
    <filename>a00155.html</filename>
  </compound>
  <compound kind="namespace">
    <name>System::Text</name>
    <filename>a00156.html</filename>
  </compound>
</tagfile>
